.quotes .container {
  max-width: 1440px;
  margin: 0 auto;
}
.quotes-content {
  border-radius: 50px 50px 0 0;
  padding: 80px;
  width: 1440px;
  height: 448px;
  background: #171717;
}
.quotes-content p {
  color: #d9ee44;
  text-align: center;
}
