.they-said-section {
  padding: 80px;
  background: var(--white);
}

.they-said-section > .container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.they-said-content {
  position: relative;
  width: 1201;
  height: 774;
  gap: 40px;
  margin: 80px 118px;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 584px;
  height: 260px;
  margin-bottom: 80px;
  gap: 40px;
}
.title-container-content {
}
.main-title {
  text-align: left;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.25em;
}
.nft-tag {
  align-self: flex-end;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.25em;
  color: var(--black);
  text-shadow: 9px 9px 0 #ddf247;
}

.title-content {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.01em;
  opacity: 0.6;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
}

.profile-card {
  background: var(--white);
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  width: 379px;
  height: 217px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 24px;
}
.profile img {
  padding-right: 16px;
}
.profile-title {
  color: var(--black);
  margin: 0 0 16px 0;
}
.profile-subtitle {
  opacity: 0.6;
}
.profile-text {
  color: var(--black);
  line-height: 1.25em;
}
.profile-text-container {
  margin-top: 24px;
}
