.footer-top-section {
  padding: 30px 80px;
  background: var(--black);
}
.footer-top-section > .container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  gap: 8px;
  color: var(--white);
  white-space: nowrap;
  padding-top: 17px;
}
.footer-right {
  display: flex;
  width: auto;
  gap: 24px;
  padding-top: 5px;
}
.footer-top-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  white-space: nowrap;
  color: var(--white);
  gap: 24px;
}
.top-list-item-link {
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.top-footer-copy {
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
  .footer-top-section {
    padding: 30px 60px;
    background: var(black);
  }
  .footer-top-section > .container {
    width: 780px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-left {
  }
  .footer-right {
    display: flex;
    justify-content: space-between;
  }

  .footer-top-list {
    list-style: none;
  }

  .top-list-item-link {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
  }

  .top-list-item-link:hover {
    text-decoration: underline;
  }

  .top-footer-copy,
  .top-footer-text {
  }
}

@media screen and (min-width: 350px) and (max-width: 779px) {
  .footer-top-section {
    padding: 20px 25px;
    background: var(black);
  }
  .footer-top-section > .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-left {
    gap: 8px;
    padding-top: 20px;
    padding-left: 56.5px;
    padding-right: 56.5px;
  }
  .footer-right {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-left: 67px;
    padding-right: 67px;
  }

  .footer-top-list {
    list-style: none;
    gap: 24px;
  }

  .top-list-item-link {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
  }

  .top-list-item-link:hover {
    text-decoration: underline;
  }

  .top-footer-copy,
  .top-footer-text {
  }
}
